* {
    border-collapse:collapse;
}

h1 {
    font-size: 20pt;
    font-family: 'PT Sans', sans-serif;
    color:#000;
}

h2 {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 0;
}

h3 {
    font-size: 12pt;
    font-family: 'PT Sans', sans-serif;
    color:#000; 
    margin: 0;
}

body { 
    background-color:lightyellow;
    margin: auto;
    width: 70%;
}
p{
    font-size:12pt;
    font-family: 'PT Sans', sans-serif;
    color:#000;
    word-wrap: normal;
}
a:hover{
    font-size:12pt;
    color:#6F9EE9;
    text-decoration:none;
}

//For Header
.header {
    width:50%;
   
}

.logo_title{
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
    color:#000;
    width: 100%;
    float:left;

}

.username {
    padding-top: 15px;
    color:#000;
    width: 65%;
    margin:auto;
    text-align: right;
}

.clear {
    clear: both;
}

a{
    font-size:12pt;
    color:#3376E1;
    text-decoration:none;
}

#content{
    display: inline-block;
    position: relative;
    width: 100%;
}

#sidebar{
    position: fixed;
    top:0; bottom:0; left:0;
    width: 200px;
    height:800px;
    background-color:darkkhaki;
    background-size:fill;
    padding: 0 20px 20px 20px;
    margin-right: 20px;
    border-right: 1px #ddd solid;
    box-shadow: 1px 0px 5px 1px #ddd;
    
    //height: 400px;
}

#sidebar ul {
    padding: 0;
    margin: 0;
}

#sideButton li{
    list-style-type: none;
    padding: 10px;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    border-bottom: 1px solid #aaa;
}

#sideButton li{
    list-style: none;
    text-align: center;
    width: 150px;
    line-height: 60px;
}

#sideButton li:hover {
    background-color:#fff;
}

#sideButton li a{
    text-decoration:none;
}

.container { 
    position: relative; 
    padding: 0 0 0 55px; 
    
    margin-left: 50px;
    width: auto;
}

.mid-content {
    width: 500px;
    margin: auto;
}


/*
LOGIN HEADER
*/
.logo {
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.button {
    float: right;
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 15px;
    background: #ddd;
    font-family: 'PT Sans', sans-serif;
}

#logoff {
    //border-left: 1px solid black;
    //border-right: 1px solid black;
    font-weight: bold;
}


/*
    FORM ITEMS
*/

.form-field td{
    font-family: 'PT Sans', sans-serif;
    padding: 5px;
    border: 0;
}

.piece {
    display: inline-block;
}

.news_item {
    width: 80%;
    margin-bottom: 22px;
    background: #fff;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 0px 0px #aaa;
}

#my_file{
    display:none;
}


.patch_version {
    font-family: 'PT Sans', sans-serif;
}

.game_data {
    padding: 10px 0px;;
    font-family: 'PT Sans', sans-serif;
}