//For Shop.php
#gameList {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
  width: auto;
}
  
  #gameList th {
    background-color: red;
    color: white;
    font-weight: normal;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
  }
  #gameList td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'PT Sans', sans-serif;
  }

 //For currentGame.php
 .currentGameInfo {
 }
 
 
 .currentGameInfo td{
     padding:5px;
     font-size: 16px;
     
 }
 
 //buy game button in currentGame.php
 .buygame_btn{
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background: #6BCEA0;
    border: 0px none;
    outline: 0px none;
 }
 
 .boughtgame_btn {
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background: #B3B9B6;
    outline: 0px none;
 }
 
 
 
 
 
 //buyGame.php
 .confirm_buy {
 }
 
 .confirm_buy td {
     padding: 10px;
     font-size: 16 px;
     
 }
 
 .confirmbtn {
     padding:25px 10px 50px 10px;
     display:inline-block;
 }
 
 .confirm_btn {
     padding: 10px;
     font-size: 18px;
     color: #fff;
     background: #63C05D;
     outline: 0px none;
 }
 
 .cancelbtn {
     display: inline-block;
     padding: 25px 10px 50px 10px;
 }
 
 .back_btn {
     padding: 10px;
     font-size: 18px;
     color: #fff;
     background: #D50606;
     outline: 0px none;
 }