* {
    border-collapse:collapse;
}

h1 {
    font-size: 20pt;
    font-family: 'PT Sans', sans-serif;
    color:#000;
}

h2 {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 0;
}

h3 {
    font-size: 12pt;
    font-family: 'PT Sans', sans-serif;
    color:#000; 
    margin: 0;
}

body { 
    background-color:#fff;
    margin: auto;
    width: 60%;
}
p{
    font-size:12pt;
    font-family: 'PT Sans', sans-serif;
    color:#000;
    word-wrap: normal;
}
a:hover{
    font-size:12pt;
    color:#6F9EE9;
    text-decoration:none;
	
}
a{
    font-size:12pt;
    color:#3376E1;
    text-decoration:none;
}

#content{
    margin-left:200px;
}

#sidebar{
    position:absolute;
    top:0; bottom:0; left:0;
    width:auto;
    height:800px;
    background-color:#D4D4D4;
    background-size:fill;
}

#sidebar ul {
    padding: 0;
    margin: 0;
}

#sideButton li{
    list-style-type: none;
    padding: 5px;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    border-bottom: 1px solid black;
}

#sideButton li{
    list-style: none;
    text-align: center;
    width: 150px;
    line-height: 60px;
}

#sideButton li:hover {
    background-color:#fff;
}

#sideButton li a{
    text-decoration:none;
}

.container { 
    position: relative; 
    padding: 0 0 0 55px; 
}

.mid-content {
    width: 500px;
    margin: auto;
}


/*
LOGIN HEADER
*/
.logo {
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.button {
    float: right;
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 15px;
    background: #ddd;
    font-family: 'PT Sans', sans-serif;
}


/*
    FORM ITEMS
*/

.form-field td{
    font-family: 'PT Sans', sans-serif;
    padding: 5px;
    border: 0;
}

.piece {
    display: inline-block;
}

.news_item {
    width: 650px;
    margin-bottom: 22px;
    background: #fff;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 0px 0px #aaa;
}